.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  padding: 5px;
  font-size: 20px;
  text-align: center;
}
.btn{
  border-radius: .987em;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5db2c1;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #5d636d;
}
