
<div class="row">
  <div class="col-lg-4 mb-3 d-flex align-items-stretch"  *ngFor="let topic of courses">
    <div class="card">
      <img class="card-img-top" src="{{topic.image}}" style="width: 100%;"/>

      <h3 class="card-title">{{topic.title}}</h3>

      <div class="card-body d-flex flex-column">

        <p class="card-text">{{topic.description}}</p>
      </div>
      <div class="card-footer">
        <small class="mycustomfooter">Author : Eldhose K Joy</small>
        <a [routerLink]="['/courses/',topic.id]">
        <button type="button"  class="btn btn-primary float-end" aria-label="Close">
         Read more >>
       </button>
      </a>
      </div>
    </div>
  </div>
</div>
