
.container
{
  padding-right: 10px;
  padding-left: 10px;
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  padding: 5px;
  font-size: 26px;
  text-align: center;
}

