
<!-- banner -->
<!-- Navigation -->

<div class="banner" id="home">
  <div class="container">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://www.eldhosekjoy.com/">Eldhose K Joy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <a class="nav-link homelink" aria-current="page" href="http://www.eldhosekjoy.com/">Home</a>
          </li> -->

          <li class="nav-item"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <a class="nav-link homelink" aria-current="page" [routerLink]="['/']">Topic List</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Technical Notes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="http://portfolio.eldhosekjoy.com/">Latest Topics</a></li>
              <li><a class="dropdown-item" href="http://portfolio.eldhosekjoy.com/">Angular</a></li>
              <li><a class="dropdown-item" href="http://portfolio.eldhosekjoy.com/">.Net Core</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="http://portfolio.eldhosekjoy.com/">Sql Server</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



</div>
</div>
<!-- banner -->
