
/*-- banner --*/
.banner{
  background: url(/assets/images/portfolioheadimage.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    resize: both;
    min-height: 260px;
    position: relative;
  }
  .active
  {
    background-color: #146eb4;
  }

  .navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  .navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255,1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  nav a.navbar-brand {
    font-size: 35px;
    color: #fff !important;
    padding: 10px;
    height: inherit;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #fff;
      background-color: #11b563;
  }

  .navbar-nav > li > a {
    padding: 10px;
  }
  .navbar-nav > li > a {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
  }


  .w3_banner_info {
    margin: 13em 0 0em;
    width: 450px;
    padding: 10px;
    position:absolute;
  }
  .w3_banner_info_grid h2 {
    font-size: 3em;
    color: #ffffff;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 3px 3px #146eb4;
  }
  .w3_banner_info_grid  h5 {
    font-size: 20px;
    margin: 10px 0;
    letter-spacing: 1px;
    color: #000;
  }
  .w3_banner_info_grid ul li{
  display:inline-block;
  font-size:1em;
  }
  .w3_banner_info_grid ul li a{
  padding:9px 30px;
  text-decoration:none;
  color:#212121;
  }
  .w3l_contact, .w3ls_more:hover {
    border: 2px solid #fff;
    color: #ffffff !important;
    background: none;
  }
  .w3ls_more, .w3l_contact:hover {
    border: 2px solid #11b563;
    background: #11b563;
    color: #ffffff !important;
  }
  .w3ls_more:focus{
  outline:none;
  }
  span.char3 {
    text-transform: initial;
  }
  .w3_banner_info_grid p {
    margin: 1.5em 0 3em;
    color: #000;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 14px;
  text-shadow: 1px 1px #cccccc;
  }

  .dropdown-menu {

    --bs-dropdown-color: #ffffff;
    --bs-dropdown-bg:  rgba(0, 0, 0, 0.6);
    --bs-dropdown-link-color: #fbfbfb;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-divider-bg: #FFF;

}

