
<div class="container" style="margin-top: 70px;">
<courses-card-list
[courses]="courses$ | async">

</courses-card-list>
    <!-- <mat-tab-group>

        <mat-tab label="Most Recent posts">

            <courses-card-list
                    [courses]="courses$ | async">

            </courses-card-list>

        </mat-tab>
        <mat-tab label="Featured Posts">

          <courses-card-list
                  [courses]="courses$ | async">

          </courses-card-list>

      </mat-tab>

    </mat-tab-group> -->

  </div>

